<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=folder.name%></title>
  </head>
  <body>
    <h1><%=folder.name%></h1>
    <button class="upload-file-btn">Add File</button>
    <dialog class="upload-file-dialog">
      <form
        action="/folders/<%=folder.id%>/file"
        method="POST"
        enctype="multipart/form-data"
      >
        <p>
          <label for="file">Upload file: </label>
          <input type="file" name="file" id="file" accept="image/*,.pdf" />
        </p>
        <p>
          <button type="submit">Submit</button>
        </p>
      </form>
    </dialog>

    <h2>Files:</h2>
    <%folder.files.forEach(function(file){ %>
    <p><%= file.name%></p>
    <p><%= file.size%></p>
    <p><%= file.createdAt%></p>
    <a href="<%= file.view_url%>">View</a>
    <a href="<%= file.download_url%>">Download</a>
    <% }) %>

    <script>
      const uploadFileBtn = document.querySelector(".upload-file-btn");
      const uploadFileDialog = document.querySelector(".upload-file-dialog");

      uploadFileBtn.addEventListener("click", () => {
        uploadFileDialog.showModal();
      });
    </script>
  </body>
</html>
