<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>
      Welcome
      <%= currentUser.name%>
    </h1>
    <a href="/accounts/logout">Logout</a>
    <button class="create-folder">Create Folder</button>

    <dialog id="create-folder-dialog">
      <h2>Create Folder</h2>
      <form action="/folders" method="POST">
        <p>
          <label for="name">Folder Name: </label>
          <input type="text" name="name" id="name" />
        </p>
        <p>
          <button type="button">Quit</button>
          <button type="submit">Submit</button>
        </p>
      </form>
    </dialog>

    <main>
      <h2>Folders:</h2>
      <div>
        <%currentUser.folders.forEach(function(folder){%>
        <div class="folder-card">
          <p><%= folder.name%></p>
          <p><%= new Date(folder.createdAt).toDateString()%></p>
          <a href="/folders/<%=folder.id%>">View</a>
          <a href="/folders/<%=folder.id%>/update">Update</a>
          <form
            action="/folders/<%=folder.id%>/delete"
            method="POST"
            style="display: inline"
          >
            <button
              type="submit"
              onclick="return confirm('Are you sure you want to delete this folder?')"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
      <%}) %>
    </main>

    <script>
      const createFolderBtn = document.querySelector(".create-folder");
      const createFolderDialog = document.querySelector(
        "#create-folder-dialog",
      );
      createFolderBtn.addEventListener("click", () => {
        createFolderDialog.showModal();
      });
    </script>
  </body>
</html>
